html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.main div:nth-child(3),
.preamble {
  border: 5px dashed #c2c2c2;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.summary {
  border-left: 10px solid #500;
  background-color: #801515;
}
.intro {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.requirements p:nth-child(3) {
  border-left: 10px solid #c2c2c2;
  background-color: #f2f2f2;
  padding: 20px 40px;
  margin-bottom: 20px;
  font-style: italic;
}
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer {
  background: #8f210c;
  position: relative;
}
footer:before,
footer:after {
  background: #731a09;
  position: absolute;
  z-index: -999;
  top: 0.85em;
  content: ' ';
  height: 0;
  border: 1.5em solid rgba(0,0,0,0);
  border-left: 0.9em solid #fff;
}
footer:before {
  left: -2.2em;
}
footer:after {
  right: -2.2em;
  transform: rotate(180deg);
}
.intro {
  position: relative;
}
* {
  box-sizing: border-box;
}
body {
  font-family: serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Lobster';
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  font-size: 1.18911731969558em;
}
html {
  font-size: 1em;
}
h1 {
  font-size: 3.997584364815999em;
}
h2 {
  font-size: 2.8271459439999993em;
}
h3 {
  font-size: 1.9993959999999997em;
}
h4 {
  font-size: 1.414em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.7072135785007072em;
}
small {
  font-size: 0.7072135785007072em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8f210c;
}
p {
  color: #333;
}
a {
  color: #282f7d;
}
a:hover {
  color: #477187;
}
ul li {
  padding: 0.65em 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}
ul li:first-child {
  padding-top: 0;
}
ul li:last-child {
  border-bottom: none;
}
p {
  padding-bottom: 20px;
}
p:last-child {
  padding-bottom: 0;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
aside .wrapper div {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding: 10px 20px;
}
.main div:first-child,
.main div:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
}
.intro,
header,
.summary,
.preamble,
.main,
.main div,
footer,
aside {
  display: block;
  float: left;
  width: 100%;
  padding: 10px 20px;
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  text-align: center;
}
footer a {
  padding: 0 48px;
  border-right: 1px solid #702213;
  font-size: 1.414em;
  font-family: 'Francois One';
  color: #fffff0;
}
footer a:last-child {
  border-right: none;
}
footer a:hover {
  color: #c2c2c2;
}
aside div ul li a {
  text-transform: capitalize;
}
.design-selection ul li a:first-child {
  display: block;
  font-family: 'Lobster';
  font-size: 1.414em;
}
a {
  text-transform: uppercase;
}
a:hover {
  text-decoration: underline;
}
.intro div a,
.main div a {
  font-family: 'Francois One';
}
.summary a:hover {
  color: #c2c2c2;
}
.preamble {
  margin-top: 20px;
}
.summary {
  position: absolute;
  width: 480px;
  right: 40px;
  top: 40px;
}
.summary p,
.summary a {
  color: #fffff0;
}
.summary a {
  text-decoration: underline;
}
