// // Header
.intro
    background-color: $bg-primary
    
header h1, header h2, .summary p, .summary a, .preamble h3, .preamble p
    color: $text-light
    
.summary a 
    text-decoration: underline
    
// // Intro
// .summary, .preamble
//     background-color: $bg-secondary
    
// .intro p, .intro h3, .intro a
//     color: $text-light

// Aside
// aside
//     background-color $bg-floral