// Colors
$dark-primaries = (#09692A #282F7D #8F6C0C #8F210C)
$light-primaries = (#55B375 #5C62AA #F5D273 #F58773)

//// Text
$text-default = #333333
$text-light = floralwhite

$text-dark-primary = $dark-primaries[3]
// $text-dark-primary = $light-primaries[0]

$text-dark-secondary = $dark-primaries[1]
// $text-dark-secondary = $light-primaries[1]

//// Footer
$footer-border = $text-light

//// Background
$bg-primary = $text-dark-primary
$bg-secondary = $text-dark-secondary
$bg-floral = floralwhite

//// Links
$a-color-light = floralwhite 
$a-color-light-hover = #B5B5B5
$a-color-dark = $text-dark-secondary
$a-color-dark-hover = #477187

// Sizes
$font-ratio = 1.414em
$line-height = 1.5
$padding = 40px
$line-padding = 1.3em
$width = 1200px
$col-size = (25/3)px

// Fonts
$font-family = serif
// $font-family = 'Francois One', sans-serif;

$special-font = 'Lobster', cursive;
$footer-font = 'Francois One', sans-serif;

// Border
$border-standard = 1px solid #eee