// Sizes
$font-ratio = 1.414em
$line-height = 1.5
$padding = 40px
$line-padding = 1.3em
$width = 1200px
$col-size = (25/3)px

// Fonts
$fonts = {
    body: serif,
    headers: 'Lobster',
    links: 'Francois One',
    footer: 'Francois One',
    list-items: 'Lobster'
}

// Colors
$palette = {
    text: {
        body: {
            light: floralwhite, // white
            dark: #333 // dark gray
        },
        header: {
            light: floralwhite, // white
            dark: #8F210C // red
        }
    },
    links: {
        header: {
            default: floralwhite, // white
            hover: #C2C2C2 // light gray
        },
        body: {
            default: #282F7D, // blue
            hover: #477187 // lighter blue
        },
        footer: {
            default: floralwhite, // white
            hover: #C2C2C2 // light gray
        }
    },
    specials: {
        quote: {
            header: {
                background: #801515, // red
                border: #550000 // darker red
            },
            body: {
                background: #F2F2F2, // gray
                border: #C2C2C2 // dark gray
            }
        },
        special-box: {
            background: #F2F2F2, // gray
            border: #C2C2C2 // dark gray
        },
        ribbon: {
            main: #8F210C, // red
            ends: #731A09, // dark red
            separators: #702213 // dark red
        }
    },
    backgrounds: {
        primary: #8F210C, // dark red
        body: #F7F7F7
    }
}

// $palette = {
//     text: {
//         body: {
//             light: floralwhite, // white
//             dark: #333 // dark gray
//         },
//         header: {
//             light: floralwhite, // white
//             dark: #314F00 // dark green
//         }
//     },
//     links: {
//         header: {
//             default: floralwhite, // white
//             hover: #C2C2C2 // light gray
//         },
//         body: {
//             default: #551D00, // red
//             hover: #803915 // lighter red
//         },
//         footer: {
//             default: floralwhite, // white
//             hover: #C2C2C2 // light gray
//         }
//     },
//     specials: {
//         quote: {
//             header: {
//                 background: #759D34, // green
//                 border: #507614 // dark green
//             },
//             body: {
//                 background: #F2F2F2, // gray
//                 border: #C2C2C2 // dark gray
//             }
//         },
//         special-box: {
//             background: #F2F2F2, // gray
//             border: #C2C2C2 // dark gray
//         },
//         ribbon: {
//             main: #507614, // green
//             ends: #314F00, // dark green
//             separators: #314F00 // dark green
//         }
//     },
//     backgrounds: {
//         primary: #314F00 // dark green
//     }
// }