// Sizes
$font-ratio = 1.414em
$line-height = 1.5
$padding = 40px
$line-padding = 1.3em
$width = 1200px
$col-size = (25/3)px

// Fonts
$fonts = {
    body: serif,
    headers: 'Lobster',
    links: 'Francois One',
    footer: 'Francois One',
    list-items: 'Lobster'
}

// Colors
$palette = {
    text: {
        body: {
            light: floralwhite, // white
            dark: #333 // dark gray
        },
        header: {
            light: floralwhite, // white
            dark: #314F00 // dark green
        }
    },
    links: {
        header: {
            default: floralwhite, // white
            hover: #C2C2C2 // light gray
        },
        body: {
            default: #448F30, // green
            hover: #6CB359 // lighter green
        },
        footer: {
            default: floralwhite, // white
            hover: #C2C2C2 // light gray
        }
    },
    specials: {
        quote: {
            header: {
                background: #6D4E90, // light purple
                border: #331456 // darker purple
            },
            body: {
                background: #F2F2F2, // gray
                border: #C2C2C2 // dark gray
            }
        },
        special-box: {
            background: #F2F2F2, // gray
            border: #C2C2C2 // dark gray
        },
        ribbon: {
            main: #6D4E90, // light purple
            ends: #4D2C73, // purple
            separators: #4D2C73 // purple
        }
    },
    backgrounds: {
        primary: #4D2C73 // purple
    }
}