$primary-color = #9B0F00
$header-background-color = #9B0F00
$header-text-color = floralwhite
$footer-background-color = #9B0F00
$footer-text-color = floralwhite
$secondary-color-1 = #034162
$secondary-color-2 = #669100
$primary-font-color = #333333
$background-color = floralwhite

body
    background-color: $background-color

h1, h2, h3, h4, h5, h6
    color: $primary-color

p
    color: $primary-font-color
    
a
    color: $secondary-color-1
    
a:hover
    color: $secondary-color-2
    
.intro
    background-color: $header-background-color

.intro h1, .intro h2, .intro h3, .intro p, .intro a
    color: $header-text-color
    
footer
    background-color: $footer-background-color

footer a
    color: $footer-text-color