body
    background-color: $background-color

h1, h2, h3, h4, h5, h6
    color: $text-dark-primary

p
    color: $text-default
    
a
    color: $a-color-dark
    
a:hover
    color: $a-color-dark-hover