body
    font-family: $fonts.body
    line-height: $line-height

h1, h2, h3, h4, h5, h6
    font-weight: bold
    font-family: $fonts.headers

a
    font-weight: bold
    text-decoration: none
    
a:hover
    text-decoration: underline
    
p
    font-size: $font-ratio ** 0.5
    
html
    font-size: $font-ratio ** 0
    
h1
    font-size: $font-ratio ** 4
    
h2
    font-size: $font-ratio ** 3 
    
h3
    font-size: $font-ratio ** 2
    
h4
    font-size: $font-ratio ** 1
    
h5
    font-size: $font-ratio ** 0
    
h6
    font-size: $font-ratio ** -1

small
    font-size: $font-ratio ** -1