footer
    text-align: center
    
footer a
    padding: 0 ($padding * 1.2)
    border-right: 1px solid $palette.specials.ribbon.separators
    font-size: $font-ratio ** 1
    font-family: $fonts.footer
    color: $palette.links.footer.default
    
footer a:last-child
    border-right: none
    
footer a:hover
    color: $palette.links.footer.hover
    