footer
    text-align: center
    border-top: $border-standard
    border-bottom: $border-standard
    
footer a
    padding: 0 ($padding * 1.3)
    border-right: 1px solid $footer-border
    font-size: $font-ratio ** 1
    font-family: $footer-font
    color: $text-dark-primary
    
footer a:last-child
    border-right: none
    
footer a:hover
    color: $a-color-dark-hover