.intro
    background-color: $palette.backgrounds.primary
header h1, header h2, .summary p, .summary a, .preamble h3, .preamble p
    color: $palette.text.body.light
.summary a 
    text-decoration: underline
