.preamble
    @extends $special-bg-border
    margin-top: ($padding / 2)
    
.summary
    p, a
        color: $palette.text.body.light
    a
        text-decoration: underline
    position: absolute
    width: ($width / 2.5)
    right: $padding
    top: $padding